.contact {
    position: relative;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../../../public/images/backgroundcontact1.png');
    background-size: cover;
    .content {
        margin-bottom: 50px;
        max-width: 800px;
        text-align: center;
        h2 {
            font-size: 36px;
            font-weight: 500;
            color: #fff;
        }
        p {
            font-weight: 300;
            color: #fff;
        }
    }
}
.inner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    .contactInfo {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .local,
        .email,
        .phone {
            position: relative;
            padding: 20px 0;
            display: flex;
            .icon {
                min-width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                background-color: transparent;
            }
            .text {
                display: flex;
                margin-left: 20px;
                font-size: 16px;
                color: #fff;
                flex-direction: column;
                font-weight: 300;
                p {
                    padding-top: 10px;
                    color: #fff;
                }
                h3 {
                    color: #00bcd4;
                    font-weight: 500;
                }
            }
        }
    }
}

.contactFrom{
    height: 300px;
    width: 452px;
    padding: 40px;
    padding-bottom: 40px;
    background: #fff;
    border-radius: 10%;
    h2 {
		font-size: 30px;
		color: #333;
		font-size: 500;
	}
    .inputBox {
        position: relative;
        width: 100%;
        margin-top: 10px;

        input, textarea {
            width: 100%;
            padding: 5px 0;
            font-size: 16px;
            margin: 10px 0;
            border: none;
            border-bottom: 2px solid #333;
            outline: none;
        }
    }
    .btn-send {
        display: flex;
        justify-content: center;
        align-items: center;

        input[type="submit"] {
            width: 100px;
            background: #00bcd4;
            color: #fff;
            border: none;
            cursor: pointer;
            padding: 10px;
            font-size: 18px;
            border-radius: 10%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

            &:hover {
                color: #fff;
                background-color: #dd5907;
                transform: translateY(-3px);
            }
        }
    }
}
