
.title {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
    color: rgb(24, 20, 20);

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        h1 {
            font-size: 2.5rem;
            text-align: center;
        }
        p {
            font-size: 1.25rem;
        }
    }
}
.clearFilter {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    
    .clearFilter-btn {
        width: 16rem;
        background-color: #3b82f6;
        color: #ffffff;
        font-weight: 700;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        border-radius: 0.375rem;
        border: none;
        margin-bottom: 1rem;
    }
  }
