.register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../../public/images/backgroundcontact1.png');
    background-size: cover;
    background-position: center;
    position: relative;
}
.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 50px rgba(242, 242, 242, 0.99);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .icon-close {
        background: transparent;
        position: absolute;
        top: 0;
        color: #fff;
        right: 0;
        width: 45px;
        height: 45px;
        font-size: 2em;
        display: flex;
        border: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .loginForm {
        width: 100%;
        padding: 40px;
        color: #fff;
    }
    h2 {
        font-size: 2em;
        text-align: center;
    }
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid gray;
    margin: 30px 0;
    .warning{
        color: #dc3545
    }
    label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 1em;
        font-weight: 500;
        pointer-events: none;
        transition: 0.4s;
    }
    input {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        color: #fff;
        font-weight: 600;
        &:focus ~ label,
        &:valid ~ label {
            top: -10px;
        }
    }
    .icon {
        position: absolute;
        right: 8px;
        font-size: 1.2em;
        line-height: 57px;
    }
}
.remember-forgot {
    font-size: 0.9em;
    font-weight: 500;
    margin: -10px 0 15px;
    display: flex;
    justify-content: space-between;

    label {
        input {
            color: #fff;
            margin-right: 3px;
        }
    }

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
.btn-account{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}
.login-register {
    font-size: 1em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
    .register-link{
        padding-left: 10px;
    }
    p {
        color: #fff;
        a {
            color: #fff;
            text-decoration: none;
            font-weight: 600;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
